/* body {
    height: 200rem;
} */
* {
    margin: 0;
    padding: 0;
}
.container1 {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2.2rem 8.2rem;
    transition: all 0.5s ease-in-out;
    border-bottom: none !important;
}
.navbar ul li a {
    color: white !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    transition: all 0.5s ease-in;
}
.navbar ul li a:hover {
    background-color: none !important;
    color: deepskyblue !important;
}
.icon-bar {
    color: white !important;
    background-color: white !important;
}
.navbar-toggle {
    color: white !important;
    border: 0.1rem solid white !important;
    transition: all 0.5s ease-in;
}
.navbar-toggle:hover {
    background-color: deepskyblue !important;
}
/* |||||||||||||||||||||||||||||||||||| */
.navbar-inverse .navbar-collapse {
    border-color: none !important;
}
.location {
    border: 0.1rem solid white;
    border-radius: 5rem;
}
.navbar-inverse {
    /* transparent: không có background */
    background-color: transparent !important;
}
/* |||||||||||||||||||||||||||||| */
.slider {
    width: 100%;
    height: 70rem;
    background-image: url(./../img/slider.jpg);
    background-size: cover;
    background-position: center;
}
.slider-overlay {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
}
.slider-content {
    width: 100%;
}
.icons .fab {
    font-size: 4rem;
    color: white;
    margin-right: 0.7rem;
}
.cta-div {
    margin-top: 3rem;
    margin-right: -0.1rem;
}
.btn1 {
    padding: 1.3rem 1.8rem;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    border: 0.2rem solid white;
    /* border-radius góc top+left */
    border-top-left-radius: 1.5rem;
    transition: all 0.5s ease-in;
    margin-right: -0.6rem;
}
.btn1:hover {
    text-decoration: none;
    color: white;
    background-color: deepskyblue;
}
.btn2 {
    padding: 1.3rem 1.8rem;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    border: 0.2rem solid white;
    border-bottom-right-radius: 1.5rem;
    transition: all 0.5s ease-in;
    margin-right: 0.1rem;
}
.btn2:hover {
    text-decoration: none;
    color: white;
    background-color: orangered;
}
.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-networks a {
    border: 0.1rem solid white;
    padding: 0.1rem;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2.5rem;
    margin-right: 0.5rem;
    transition: all 0.5s ease-in;
}
.social-networks a:hover {
    text-decoration: none;
    background-color: deepskyblue;
    color: white;
}
.slider .typed, .slider .typed-cursor {
    display: inline;
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
}
.primary {
    color: orangered
}
/* ||||||||||||||||||||||||||||| */
.typed-cursor {
    opacity: 1;
    animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite; 
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* |||||||||||||||||||||| */
.secondary {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2.2rem 8.2rem;
    background-color: #34495e;
}
/* bỏ khoảng trắng left+right hay nói cách khác ép sát các cột lại với nhau (trường hợp dùng boostrap) */
.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}
.img-wrapper {
    /* ẩn đi các thuộc tính bị tràn ra khỏi background */
    overflow: hidden;
}
.img-wrapper img:hover {
    transform: scale(1.5);
    /* khi hover vào hiện ra icon zoom */
    cursor: zoom-in;
}
.img-wrapper img {
    transition: transform 0.5s ease;
    width: 100%;
}
/* ||||||||||||||||||||||||||| */
video#herovideo {
    width: 100%;
}
.bx-wrapper .social-icons a {
    color: red;
    border: 0.1rem solid white;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    display: inherit;
    text-align: center;
    padding-top: 0.5rem;
    transition: all ease 1s;
    background: #000;
    border-radius: 0px;
}
.bx-wrapper .social-icons a i {
    position: relative;
    bottom: 0.7rem;
}
.vidContent {
    position: absolute;
    top: 25rem;
    color: #f1f1f1;
    width: 60%;
    text-align: justify;
    padding: 1rem;
}
.vidContent h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 10rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.vidContent p {
    width: 90%;
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
}
#vidBtn {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    border: none;
    background: white;
    color: #333;
    cursor: pointer;
    margin-top: 0 1.8rem;
    border-radius: 5rem;
    animation: shadow-pulse 2s infinite;
    text-transform: uppercase;
}
@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 2rem rgba(0, 0, 0, 0);
    }
}
#vidBtn:hover {
    background-color: white;
    color: black;
    animation: none;
    text-decoration: none;
}
.social-icons a {
    color: #333 !important;
    border: 0.4rem solid white;
    width : 5rem;
    height: 5rem;
    line-height: 4rem;
    font-size: 2rem;
    display: inherit;
    text-align: center;
    border-radius: 50%;
    transition: all ease 1s;
    margin-top: 4rem;
    background: white !important;
}
ul.social-icons.list-inline {
    text-align: center;
    margin-top: 2.2rem;
}
.list-inline > li {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
/* ||||||||||||||||||||||| */
#team {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #535353;
    background-color: white;
}
#team h5 {
    font-size: 2rem;
    font-weight: 999;
    margin-bottom: 1.5rem;
    color: #ff1737;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
#team h2 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 999;
    color: #6c757d;
    line-height: 1.2;
    max-width: 65rem;
    margin: 0 auto 1.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1rem;
}
#team p.desc {
    max-width: 95rem;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 4rem;
    font-family: 'Rotobo Condensed', sans-serif;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:hover {
    text-decoration: none;
}
.designation {
    font-weight: 500;
    font-size: 2rem;
}
/* .team-social li {

} */
.team-social li {
    display: inline-block;
    font-size: 1.4rem;
    color: #18191d;
    height: 3.8rem;
    width: 3.8rem;
    line-height: 4rem;
    display: inline-block;
    text-align: center;
    margin: 0;
    border: 0.1rem solid transparent;
    border-radius: 50%;
}
.team-img {
    position: relative;
}
.team-social.white-bg {
    background-color: white;
}
.team-coverflow {
    position: relative;
    overflow: hidden;
    padding: 2rem;
    width: 100%;
    max-width: 37rem;
    margin-left: -2rem;
    background: white;
}
.team-coverflow .team-text {
    text-align: center;
    font-size: 1.4rem;
    padding: 2rem 0 1.5rem 0;
}
.team-coverflow .team-text h4 {
    font-size: 3.5rem;
    font-weight: 999;
}
.team-coverflow .team-img {
    width: 100%;
}
.team-coverflow .team-img img {
    width: 100%;
}
.team-box-content {
    background-color: #f1c30f;
    /* position: absolute; */
    text-align: center;
    width: 100%;
    left: 0;
    /* opacity: 0;
    visibility: hidden; */
    padding: 2rem 0;
    z-index: 1;
    transition: all linear 0.4s;
}
.swiper-slide-active .team-coverflow:hover img {
    transition: scale(1.1);
}
.team-progress {
    padding-bottom: 1rem;
}
.team-progress .progress-item:not(:last-child) {
    margin-bottom: 1.7rem;
}
.team-progress .progress {
    height: 1.5rem;
    margin-top: 1.2rem;
    overflow: hidden;
    border-radius: 5rem;
    background-color: #eaeaea;
}
.team-progress .progress-item .float-right {
    font-weight: 500;
    float: right;
}
.team-progress .progress-item h6 {
    font-size: 1.5rem;
    font-weight: 600;
}
.team-progress .progress-bar {
    height: 100%;
    border-radius: 5rem;
    background: #f1c30f;
}
.w-77 {
    width: 77% !important;
}
.w-82 {
    width: 82% !important;
}
.w-93 {
    width: 93% !important;
}
.team-member-slider {
    padding-bottom: 16.5rem;
}

.team-member-slider .swiper-slide-next {
    transform: scale(1.1) translate3d(-25%, 0px, -155.962px) 
    rotateX(0deg) rotateY(-2.9808deg) !important;
    padding-left: 1.5rem;
    cursor: pointer;
}
.team-member-slider .swiper-slide-prev {
    transform: scale(1.1) translate3d(25%, 0px, -155.962px) 
    rotateX(0deg) rotateY(2.9808deg) !important;
    padding-left: 1.5rem;
    cursor: pointer;
}
.team-member-slider .swiper-slide-active {
    transform: translateY(25%) !important;
    transition: 300ms;
    opacity: 1 !important;
}
